
.content{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    min-height: 250px;
    min-width: 90%;
}
.sqr{
    
    min-width: 49%;
    border: 2px solid black;
    margin: 5px;
    min-height: 100%;
}
#data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.w{
    
}
#apex{
    display: flex;
    min-width: 80%;
    justify-content: space-around;
   
}
#edge{
     display: flex;
     min-width: 80%;
     justify-content: space-around;
     margin-top: 10px;
}
.in{
   border:2px solid red; 
   margin:2px;
}
.inside{
   display: flex;
    flex-direction: column;
    align-items: center; 
}
/*.container{padding:0px;}*/
#dodaj{
    min-width: 178px;
}